
WebSockets/.vs/WebSockets/v15/Server/sqlite3/db.lock
WebSockets/.vs/WebSockets/v15/Server/sqlite3/storage.ide
WebSockets/.vs/WebSockets/v15/Server/sqlite3/storage.ide-shm
WebSockets/.vs/WebSockets/v15/Server/sqlite3/storage.ide-wal
.vs/nginx-https-wcf-websockets/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.Properties.Resources.resources
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.pdb
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.Form_WCFHttpsClient.resources
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.exe
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.csprojAssemblyReference.cache
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.csproj.GenerateResource.cache
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.csproj.FileListAbsolute.txt
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.csproj.CoreCompileInputs.cache
/WCF_HttpClient/obj/Debug/WCF_HttpsClient.csproj.CopyComplete
/WCF_HttpClient/obj/Debug/WCF_HttpClient.csprojAssemblyReference.cache
/WCF_HttpClient/obj/WCF_HttpsClient.csproj.nuget.g.targets
/WCF_HttpClient/obj/WCF_HttpsClient.csproj.nuget.g.props
/WCF_HttpClient/obj/WCF_HttpsClient.csproj.nuget.cache
/WCF_HttpClient/obj/WCF_HttpClient.csproj.nuget.g.targets
/WCF_HttpClient/obj/WCF_HttpClient.csproj.nuget.g.props
/WCF_HttpClient/obj/WCF_HttpClient.csproj.nuget.cache
/WCF_HttpClient/obj/project.assets.json
/WCF_HttpClient/obj/Debug/WCF_HttpClient.csproj.GenerateResource.cache
/WCF_HttpWinService/bin/WCF_HttpWinService.pdb
/WCF_HttpWinService/bin/WCF_HttpWinService.InstallState
/WCF_HttpWinService/bin/WCF_HttpWinService.InstallLog
/WCF_HttpWinService/bin/WCF_HttpWinService.exe.config
/WCF_HttpWinService/bin/WCF_HttpWinService.exe
/WCF_HttpWinService/bin/System_tracelog.txt
/WCF_HttpWinService/bin/InstallUtil.InstallLog
/WCF_HttpWinService/bin/cert_pfx/WCF_HttpsWinService.pfx.txt
/WCF_HttpWinService/bin/app.config
/WCF_HttpWinService/obj/Debug/WCF_HttpWinService.pdb
/WCF_HttpWinService/obj/Debug/WCF_HttpWinService.exe
/WCF_HttpWinService/obj/Debug/WCF_HttpWinService.csproj.FileListAbsolute.txt
/WCF_HttpWinService/obj/Debug/WCF_HttpWinService.csproj.CoreCompileInputs.cache
/WCF_HttpWinService/obj/Debug/WCF_HttpsWinService.pdb
/WCF_HttpWinService/obj/Debug/WCF_HttpsWinService.exe
/WCF_HttpWinService/obj/Debug/WCF_HttpsWinService.csprojAssemblyReference.cache
/WCF_HttpWinService/obj/Debug/WCF_HttpsWinService.csproj.FileListAbsolute.txt
/WCF_HttpWinService/obj/Debug/WCF_HttpsWinService.csproj.CoreCompileInputs.cache
/WCF_HttpWinService/obj/Debug/WCFSSL_Project.csprojAssemblyReference.cache
/WCF_HttpWinService/obj/Debug/WCFSSL_Project.csproj.FileListAbsolute.txt
/WCF_HttpWinService/obj/Debug/WCFSSL_Project.csproj.CoreCompileInputs.cache
/WCF_HttpWinService/obj/Debug/TempPE/Connected Services.ServiceClient.Reference.cs.dll
/WCF_HttpWinService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WCF_HttpWinService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WCF_HttpWinService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WCF_HttpWinService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WCF_HttpWinService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/packages/WebSocketSharp-netstandard.1.0.1/WebSocketSharp-netstandard.1.0.1.nupkg
/packages/WebSocketSharp-netstandard.1.0.1/lib/netstandard2.0/websocket-sharp.xml
/packages/WebSocketSharp-netstandard.1.0.1/lib/netstandard2.0/websocket-sharp.dll
/packages/WebSocketSharp-netstandard.1.0.1/lib/net45/websocket-sharp.xml
/packages/WebSocketSharp-netstandard.1.0.1/lib/net45/websocket-sharp.dll
/packages/WebSocketSharp-netstandard.1.0.1/lib/net35/websocket-sharp.xml
/packages/WebSocketSharp-netstandard.1.0.1/lib/net35/websocket-sharp.dll
/packages/WebSocketSharp-netstandard.1.0.1/.signature.p7s
/packages/Fleck.1.1.0/lib/netstandard2.0/Fleck.dll
/packages/Fleck.1.1.0/lib/netcoreapp2.0/Fleck.dll
/packages/Fleck.1.1.0/lib/net45/Fleck.dll
/packages/Fleck.1.1.0/lib/net40/Fleck.dll
/packages/Fleck.1.1.0/Fleck.1.1.0.nupkg
/packages/Fleck.1.1.0/.signature.p7s
/WCF_HttpClient/bin/Debug/WCF_HttpsClient.pdb
/WCF_HttpClient/bin/Debug/WCF_HttpsClient.exe.config
/WCF_HttpClient/bin/Debug/WCF_HttpsClient.exe
/WCF_HttpClient/bin/Debug/RestSharp.dll
/WCF_HttpClient/obj/Debug/WCF_HttpClient.csproj.FileListAbsolute.txt
/WCF_HttpClient/obj/Debug/WCF_HttpClient.csproj.CoreCompileInputs.cache
/WCF_HttpClient/obj/Debug/WCF_HttpClient.csproj.CopyComplete
/WCF_HttpClient/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.WCF_HttpWinService.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.WCF_HttpsWinService.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.TempClient.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.HttpClient.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.API_HttpClient.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TempPE/Connected Services.APIClient.Reference.cs.dll
/WCF_HttpClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WCF_HttpClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WCF_HttpClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WCF_HttpClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WCF_HttpClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
