<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="WCF_WinServiceBehavior" name="WCF_HttpWinService.Service1">
        <!--<endpoint address="" binding="mexHttpsBinding" contract="WCF_HttpWinService.IService1" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />-->
        
        <endpoint address="" binding="webHttpBinding" contract="WCF_HttpWinService.IService1" bindingConfiguration="WCF_WebHttpBinding" behaviorConfiguration="Wcf_CorsBehavior"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10010/WCF_HttpWinService/service1" />
            <!--<add baseAddress="https://localhost:10443/WCF_HttpWinService/service1" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="WCF_WebHttpBinding" crossDomainScriptAccessEnabled="true">
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCF_WinServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <!--<serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="e50ac104bd00779e4bbd03e0724056fe"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Wcf_CorsBehavior">
          <webHttp helpEnabled="true" />
          <CorsBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
      <extensions>
      <behaviorExtensions>
        <add name="CorsBehavior" type="WCF_HttpWinService.WcfCrosBehavior, WCF_HttpWinService" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>